<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ノベルバース</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common_template.css" />
    <%- head %>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header_wrapper">
        <!-- サイトロゴとサイト説明-->
        <div class="site_logo">
          <a href="/novel/home">
            <img class="site_img" src="/images/アセット 4@2x.png" alt="" />
          </a>
        </div>
        <!-- サイト内検索ボックス -->
        <form  class="search_form" action="/novel/search" method="get" class="search_form">
          <input type="text" name="search" placeholder="サイト内検索" />
        </form>
      </div>
    </header>
    <!-- ナビゲーション -->
    <div class="wrapper">
      <div class="nav_container">
        <div class="nav_left">
          <nav class="site_nav">
            <ul>
              <li>
                <label class="site_nav_button">
                  <a href="/novel/home">ホーム</a>
                </label>
              </li>
              <li>
                <label class="site_nav_button" id="genreButton">
                   ジャンル
                </label>
                <div class="dropdown_content" id="genreDropdown">
                  <% genres.forEach(genre => { %>
                  <a href="/novel/genre/<%= genre._id %>"><%= genre.genre_name %></a>
                  <% }); %>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="writerButton">
                  作家
                </label>
                <div class="dropdown_content" id="writerDropdown">
                  <div class="writerSearch">
                    <form action="/novel/search" method="get">
                      <input type="text" class="nav_input" name="search" id="searchInput" placeholder="作家名で検索">
                    </form>
                    <div id="suggestions" class="suggestions"></div>
                  </div>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="siteInformationButton">
                  サイト案内
                </label>
                <div class="dropdown_content" id="siteInfomationDropdown">
                  <a href="/admin/app_info">ノベルバースとは</a>
                  <a href="/admin/info">運営者について</a>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="boardButton">
                  掲示板
                </label>
                <div class="dropdown_content" id="boardDropdown">
                  <a href="/board/info">掲示板とは</a>
                  <a href="/board/home">見てみる</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav_right">
          <ul>
            <li>
              <label class="site_nav_button" id="mypageButton" class="mypage">マイページ</label>
              <div class="dropdown_content" id="mypageDropdown">
                <a href="/user/account/setting">アカウント設定</a>
                <a href="/user/account/bookmark/list">読みたい一覧</a>
                <% if (!currentUser) { %>
                <a href="/user/login">ログイン</a>
                <% } else { %>
                <form action="/user/logout" method="post">
                  <button class="logout" type="submit">ログアウト</button>
                </form>
                <% } %>
              </div>
            </li>
            <li>
              <!-- <img src="" alt=""> --><label>写真</label>
            </li>
          </ul>
        </div>
      </div>

    </div>
    
    <%- include('../partials/flash') %>
    <%- body %>
    <footer>
      <ul>
        <label class="footer_label">ノベバについて</label>
        <li><a href="#">→ ノベバとは</a></li>
        <li><a href="#">→ 利用規約</a></li>
        <li><a href="#">→ プライバシーポリシー</a></li>
        <li><a href="#">→ 運営者</a></li>
        <li><a href="#">→ 掲示板とは</a></li>
      </ul>
      <ul>
        <label class="footer_label">サポート</label>
        <li><a href="#">→ ご意見・お問い合わせ</a></li>
      </ul>
    </footer>
    <script src="/js/navbar-search-input.js"></script>
    <script src="/js/navbar.js"></script>
    <%- scripts %>
  </body>
</html>
