<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ノベルバース</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common_template.css" />
    <%- head %>
  </head>
  <body>
    <button class="mobile_only openbtn1"><label>著者で探す</label></button>
    <nav id="g-nav" class="mobile_only">
        <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                <form class="mobile_author" action="/novel/search" method="get">
                  <img class="magnifying_glass mobile_only" src="	https://res.cloudinary.com/dogup1dum/image/upload/v1722569809/Novelverse/sp9ei56oz6zhjae4lndq.png" alt="虫眼鏡">
                  <input type="text" class="mobile_nav_input" name="search" id="mobileSearchInput" placeholder="作家名で検索する" required>
                  <button class="mobile_author_submit" type="submit">さがす</button>
                </form>
                <div id="mobileSuggestions" class="suggestions"></div>
        </div>
      </nav>
    <!-- ヘッダー -->
    <header>
      <div class="header_wrapper">
        <!-- サイトロゴとサイト説明-->
        <div class="site_logo">
          <a href="/novel/home">
            <img class="site_img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1721915725/Novelverse/e9tdgl5j1xuva1fog3x6.png" alt="" />
          </a>
        </div>
        <!-- サイト内検索ボックス -->
        <form  class="search_form" action="/novel/search" method="get">
          <input type="text" name="search" placeholder="サイト内検索" />
        </form>
        <!-- <label id="toggleButton" class="mobile_only search_by_author">著者で探す</label> -->
        <!-- ハンバーガーメニュー -->
        <div class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>
    <!-- ナビゲーション -->
    <div class="wrapper">
      <div id="nav-container" class="mobile_only nav-container">
        <nav class="site_nav">
          <ul>
            <li>
                <a href="/novel/home">ホーム</a>
            </li>
            <li>
              <a href="/novel/app_info">ノベルバースとは</a>
            </li>
            <li>
                <a href="/novel/admin/info">運営者について</a>
            </li>
            <li>
              <a href="/board/info">掲示板とは</a>
            </li>
            <li>
                <a href="/board/home">見てみる</a>
            </li>
            <li>
              <a href="/novel/home">ホーム</a>
            </li>
            <% if (!currentUser) { %>
            <li><a href="/user/login">ログイン</a></li>
            <li><a href="/user/signup">アカウント作成</a></li>
            <% } else { %>
              <li><a href="/user/account/setting">アカウント設定</a></li> 
              <li><a href="/user/account/bookmark/list">読みたい一覧</a></li>
              <li><form action="/user/logout" method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="logout" type="submit">ログアウト</button>
                </form>
              </li>
            <% } %>
            <label class="nav_title">ジャンルで探す</label>
            <ul class="nav_genre">
              <% genres.forEach(genre => { %>
                <li><a href="/novel/genre/<%= genre._id %>"><%= genre.genre_name %></a></li>
                <% }); %>
              </ul>
            </ul>
        </nav>
      </div>
      
      <div class="nav_container">
        <div class="nav_left">
          <nav class="site_nav">
            <ul>
              <li>
                <label class="site_nav_button">
                  <a href="/novel/home">ホーム</a>
                </label>
              </li>
              <li>
                <label class="site_nav_button" id="genreButton">
                   ジャンル
                </label>
                <div class="dropdown_content" id="genreDropdown">
                  <% genres.forEach(genre => { %>
                  <a href="/novel/genre/<%= genre._id %>"><%= genre.genre_name %></a>
                  <% }); %>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="writerButton">
                  作家
                </label>
                <div class="dropdown_content" id="writerDropdown">
                  <div class="writerSearch">
                    <form action="/novel/search" method="get">
                      <input type="text" class="nav_input" name="search" id="searchInput" placeholder="作家名で検索">
                    </form>
                    <div id="suggestions" class="suggestions"></div>
                  </div>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="siteInformationButton">
                  サイト案内
                </label>
                <div class="dropdown_content" id="siteInfomationDropdown">
                  <a href="/app-info">ノベルバースとは</a>
                  <a href="/admin-info">運営者について</a>
                </div>
              </li>
              <li>
                <label class="site_nav_button" id="boardButton">
                  掲示板
                </label>
                <div class="dropdown_content" id="boardDropdown">
                  <a href="/board/info">掲示板とは</a>
                  <a href="/board/home">見てみる</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav_right">
          <ul>
            <li>
              <% if (!currentUser) { %>
                <div id="logout">
                  <label class="site_nav_button"><a href="/user/login">ログイン</a></label>
                  <label class="site_nav_button"><a href="/user/signup">アカウント作成</a></label>
                </div>
              <% } else { %>
              <label class="site_nav_button" id="mypageButton" class="mypage">マイページ</label>
              <div class="dropdown_content" id="mypageDropdown">
                <a href="/user/account/setting">アカウント設定</a>
                <a href="/user/account/bookmark/list">読みたい一覧</a>
                <form action="/user/logout" method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="logout" type="submit">ログアウト</button>
                </form>
              <% } %>
              </div>
            </li>
            <li>
              <% if( !currentUser || topImg.length < 1 ){ %>
                <img class="header_top_img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1722569745/Novelverse/moeajzkoqihedzwjv2ng.png" alt="トプ画未設定">
                <% } else {%>
                <img class="header_top_img" src="<%= topImg[0].url %>" alt="トプ画">
              <% } %>
            </li>
          </ul>
        </div>
      </div>

    </div>
    
    <%- include('../partials/flash') %>
    <%- body %>
    <footer>
      <ul>
        <label class="footer_label">ノベルバースについて</label>
        <li><a href="/app-info">→ ノベルバースとは</a></li>
        <li><a href="/terms-and-conditions">→ 利用規約</a></li>
        <li><a href="/privacy-policy">→ プライバシーポリシー</a></li>
        <li><a href="/admin-info">→ 運営者</a></li>
        <li><a href="/board/info">→ 掲示板とは</a></li>
      </ul>
      <ul>
        <label class="footer_label">サポート</label>
        <li><a href="/user/account/inquiry">→ ご意見・お問い合わせ</a></li>
      </ul>
    </footer>
    <script src="/js/navbar-search-input.js"></script>
    <script src="/js/navbar.js"></script>
    <%- scripts %>
  </body>

  <script>
    console.log('CSRF token in logout form:', '<%= csrfToken %>');
    </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const hamburger = document.querySelector('.hamburger-menu');
      const nav = document.querySelector('.nav-container');

      hamburger.addEventListener('click', function() {
        nav.classList.toggle('active');
        hamburger.classList.toggle('active');
      });

      // ナビゲーションリンクをクリックしたらメニューを閉じる
      const navLinks = document.querySelectorAll('.site-nav a');
      navLinks.forEach(link => {
        link.addEventListener('click', function() {
          nav.classList.remove('active');
          hamburger.classList.remove('active');
        });
      });
    });

    
  // ボタンのクリックイベントリスナーを追加
document.querySelector('.openbtn1').addEventListener('click', function () {
  // ボタン自身に active クラスをトグル
  this.classList.toggle('active');
  // ナビゲーションに panelactive クラスをトグル
  document.querySelector('#g-nav').classList.toggle('panelactive');
});

// ナビゲーションのリンクがクリックされたときの処理
document.querySelectorAll('#g-nav a').forEach(function (link) {
  link.addEventListener('click', function () {
    // ボタンの active クラスを削除
    document.querySelector('.openbtn1').classList.remove('active');
    // ナビゲーションの panelactive クラスを削除
    document.querySelector('#g-nav').classList.remove('panelactive');
  });
});
  </script>
</html>


