<% layout("layouts/admin-common-template") %>
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
<% 
function getCoverUrl(novel) { 
  return novel.cover && novel.cover.length > 0 && novel.cover[0].url ? novel.cover[0].url :'https://dummyimage.com/280x300/000/fff'; 
} 
%>
<main>
  <div class="container">
    <section class="section">
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <% if (pageTitle) { %>
              <h2><%= pageTitle %></h2>
            <% } %>
          </div>
          <span></span>
        </div>
        <div class="book-list">
        <% if( novels.length > 0 ) { %>
          <ul>
            <% for (let novel of novels) { %>
            <li class="wrap_book_list">
              <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                <div class="book-item">
                  <div class="book-cover">
                      <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                      <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                       <button class="bookmark-button" type="submit">読みたい＋</button>
                      </form>
                  </div>
                  <span class="book_info">
                    <p class="novel_name"><%= novel.title %></p>
                    <p class="author_name"><%= novel.author.author_name %></p>
                    <form class="mobile_only bookmark_form" data-novel-id="<%= novel._id %>">
                      <button class="bookmark_button" type="submit">読みたい＋</button>
                    </form>
                  </span>
                </div>
              </a>
            </li>
          <% } %>
          </ul>
        <% } else { %>
          <p><%= pageTitle %>は現在登録されていません</p>
        <% } %>
        </div>
      </div>
    </section>
  </div>
</main>
  <% scripts = '<script src="/js/home.js"></script>' %> 
  <% scripts = '<script src="/js/bookmark-add.js"></script>' %>