<% layout("layouts/admin-common-template") %>
<% head = '<link rel="stylesheet" href="/css/admin/admin_novel_list.css">' %>
<div class="list_container">
  <form  class="search_form" action="/novel/management/search" method="get">
    <input type="text" name="search" placeholder="小説検索" />
  </form>
  <a href="/novel/management/registration">小説登録</a>
  <div id="nav_container" class="nav_container">
    <nav class="site_nav">
      <ul>
        <li>
          <a href="/novel/management/all">全て</a>
        </li>
        <li>
          <label class="site_nav_button" id="genreButton">
             ジャンル
          </label>
          <div class="dropdown_content" id="genreDropdown">
            <% genres.forEach(genre => { %>
            <a href="/novel/management/genre/<%= genre._id %>"><%= genre.genre_name %></a>
            <% }); %>
          </div>
        </li>
        <li>
          <label class="site_nav_button" id="writerButton">
            作家
          </label>
          <div class="dropdown_content" id="writerDropdown">
            <div class="writerSearch">
              <form action="/novel/management/search" method="get">
                <input type="text" class="nav_input" name="search" id="searchInput" placeholder="作家名で検索">
              </form>
              <div id="suggestions" class="suggestions"></div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
    <div class="book_list">
      <% if( novels.length > 0 ) { %>
        <ul>
          <% for (let novel of novels) { %>
            <li>
              <form action="/novel/management/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="book_cover">
                  <img src="<%= novel.cover[0].url %>" alt="">
                </div>
                <input type="hidden" name="coverId" value="<%= novel.cover[0]._id %>">
                <p class="novel_name"><%= novel.title  %></p>
                <p class="id_info">novelId：<%= novel._id %></p>
                <p class="id_info">coverId：<%= novel.cover[0]._id %></p>
                <input type="hidden" name="novelId" value="<%= novel._id %>">
                <span class="btn_wrapper">
                  <a id="edit_btn" href="/novel/management/admin-detail/<%= novel._id %>">編集</a>
                  <button class="delete_btn" type="submit">削除</button>
                </span>
                
              </form>
            </li>
          <% } %>
        </ul>
      <% } %>
    </div>
</div>
<script>

    // ナビゲーションリンクをクリックしたらメニューを閉じる
    const navLinks = document.querySelectorAll('.site_nav a');
    navLinks.forEach(link => {
      link.addEventListener('click', function() {
        nav.classList.remove('active');
        hamburger.classList.remove('active');
      });
    });
</script>
<% scripts = '<script src="/js/home.js"></script>' %> 