<% layout("layouts/admin-common-template") %>
<% head = '<link rel="stylesheet" href="/css/admin/admin_novel_list.css">' %>
<%= success %>
<% 
function getCoverUrl(novel) { 
  return novel.cover && novel.cover.length > 0 && novel.cover[0].url ? novel.cover[0].url :'https://dummyimage.com/280x300/000/fff'; 
} 
%>

<div class="list_container">
  <form  class="search_form" action="/novel/management/search" method="get">
    <input type="text" name="search" placeholder="小説検索" />
  </form>
  
    <nav class="site_nav">
      <ul>
        <li>
          <a href="/novel/management/all">全て</a>
        </li>
        <li>
          <label class="site_nav_button" id="genreButton">
             ジャンル
          </label>
          <div class="dropdown_content" id="genreDropdown">
            <% genres.forEach(genre => { %>
            <a href="/novel/management/genre/<%= genre._id %>"><%= genre.genre_name %></a>
            <% }); %>
          </div>
        </li>
        <li>
          <label class="site_nav_button" id="writerButton">
            作家
          </label>
          <div class="dropdown_content" id="writerDropdown">
            <div class="writerSearch">
              <form action="/novel/management/search" method="get">
                <input type="text" class="nav_input" name="search" id="searchInput" placeholder="作家名で検索">
              </form>
              <div id="suggestions" class="suggestions"></div>
            </div>
          </div>
        </li>
      </ul>
    </nav>


    <div class="book_list">
    <% if( results.length > 0 ) { %>
      <ul>
        <% for (let novel of results) { %>
        <li class="wrap_book_list">
          <a class="detail_link" href="/novel/management/admin-detail/<%= novel._id %>">
            <div class="book_item">
              <div class="book_cover">
                  <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
              </div>
              <span class="book_info">
                <p class="novel_name"><%= novel.title %></p>
                <p class="author_name"><%= novel.author.author_name %></p>
              </span>
            </div>
          </a>
        </li>
      <% } %>
      </ul>
    <% } else { %>
      <br>
      <p class="no_novel"><%= messages.info %></p>
    <% } %>
    </div>
  </div>
    
<% scripts = '<script src="/js/home.js"></script>' %> 