<% layout("layouts/admin-common-template") %>
<% head = '<link rel="stylesheet" href="/css/admin/author_add.css">' %>

<label class="novel_count">小説の数 <%= count %>冊</label>
<label><%= message %></label>
<div class="add_container">
    <div class="add_form">
        <form action="/admin-author/author_add" method="POST">
            <label class="colums_label">追加する著者名</label><br>
            <input type="text" class="addAuthor" name="addAuthor" required />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="add_btn"type="submit">+</button>
        </form>  
    </div>
    <div class="arrow">
        <p>→</p>
    </div>
    <div class="author_list">
        <form>
            <label class="colums_label">更新後</label><br>
            <select class="addAuthor" id="dropdown" name="options">
                <% if(authorList && authorList.length > 0){ %>
                    <% for( let author of authorList ){ %>
                        <option value="<%= author.author_name %>"><%= author.author_name %></option>
                    <% } %>
                <% } else { %>
                        <option value="none">登録されている著者はありません</option>
                <% } %>
            </select>
        </form>
    </div>

</div>
<% scripts = '<script src="/js/home.js"></script>' %> 