<% layout("layouts/admin-common-template") %>
<% head = '<link rel="stylesheet" href="/css/admin/genre_add.css">' %>
<label class="novel_count">小説の数 <%= count %>冊</label>
<label><%= message %></label>
<div class="add_container">
    <div class="add_form">
        <form action="/admin-novel-management/genre_add" method="POST">
            <label class="colums_label">追加するジャンル名</label><br>
            <input  class="addGenre" type="text" name="addGenre" required />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="add_btn"type="submit">+</button>
        </form>  
    </div>
    <div class="arrow">
        <p>→</p>
    </div>
    <div class="genre_list">
        <form>
            <label class="colums_label">更新後</label><br>
            <select id="dropdown"  class="addGenre" name="options">
                <% if(genreList && genreList.length > 0){ %>
                    <% for( let genre of genreList ){ %>
                        <option value="<%= genre.genre_name %>"><%= genre.genre_name %></option>
                    <% } %>
                <% } else { %>
                        <option value="none">登録されているジャンルはありません</option>
                <% } %>
            </select>
        </form>
    </div>
</div>

<% scripts = '<script src="/js/home.js"></script>' %> 