<% layout("layouts/admin-common-template") %>
<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/admin/admin_management.css">' %>
<div class="management_container">
    <div class="left_container">
        <div>
            <form class="search_form" action="/admin-user-management/user-search" method="get">
                <input type="text" name="search" placeholder="ユーザー名で検索">
                <button class="search_btn" type="submit">検索</button>
            </form>
        </div>
        <p class="user_count">総ユーザー数 <%= count %></p>
        <h2 class="section_title">全ユーザー</h2>
        <ul>
            <% if (users.length > 0) { %>
                <% for (let user of users ){%>
                    <li>
                        <a href="/admin-user-management/user-management/<%= user._id %>"><%= user.username %></a>
                    </li>
                <% } %> 
            <% } else { %>
                    <% for (let user of searchUser ){%>
                        <li>
                            <a href="/admin-user-management/user-management/<%= user._id %>"><%= user.username %></a>
                        </li>
                    <% } %> 
            <% } %>
        </ul>
    </div>
    <div class="right_container">
            <% if(!selectingUser){ %>
                <h2 class="section_title">ユーザー情報</h2>
                選択中のユーザーはいません。
            <% }else{ %>
                <h2 class="section_title"><%= selectingUser.username %>のユーザー情報</h2>
                <div class="account_setting">
                    <label class="colums_label">ニックネーム</label><label><%= selectingUser.username %></label><br>
                    <label class="colums_label">メールアドレス</label>
                    <label><%= selectingUser.email %></label><br>
                    <% if(selectingUser.self_introdaction){%>
                        <label class="colums_label">自己紹介</label><label><%= selectingUser.self_introdaction %></label><br>
                    <% } else { %>
                        <label class="colums_label">自己紹介</label><label>未設定</label><br>
                    <% } %>
                    <% if(selectingUser.birthday){%>
                        <label class="colums_label">生年月日</label> <label><%= new Date(selectingUser.birthday).toISOString().slice(0, 10) %></label>
                    <% } else { %>
                        <label class="colums_label">生年月日</label> <label>未設定</label><br>
                    <% } %>
                    <br><br>
                    <a class="btn js-modal-open">削除</a>
                    <!-- モーダル本体 -->
                    <div class="modal js-modal">
                        <div class="modal-container">
                            <!-- モーダルを閉じるボタン -->
                            <div class="modal-close js-modal-close">×</div>
                            <!-- モーダル内部のコンテンツ -->
                            <div class="modal-content">
                                <p>本当に削除しますか</p>
                                <div class="btn_box">
                                    <form action="/admin-user-management/deletion?_method=DELETE" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="delete_user_id" value="<%= selectingUser._id %>">
                                        <input type="hidden" name="delete_user_name" value="<%= selectingUser.username %>">
                                        <label>管理者コード</label>　<input class="admin_code" type="text" name="admin_code">
                                        <button class="modal_btn" type="submit">はい</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div> 
    <script src="/js/account-deletion.js"></script>
    <% scripts = '<script src="/js/home.js"></script>' %> 
