<% layout("layouts/common-template") %>
<% head = '<link rel="stylesheet" href="/css/home.css" />' %> 
<%= logoutSuccess%>
<%= error %>
<!-- ブックマークメッセージ用のコンテナ -->
<div id="bookmark-message-container" class="bookmark-message-container"></div>

<% 
  function getCoverUrl(novel) { 
    return novel.cover && novel.cover.length > 0 && novel.cover[0].url ? novel.cover[0].url :'https://dummyimage.com/280x300/000/fff'; 
  } 
%>


<!-- コンテンツ -->
<main>
  <div class="container">
    <section class="section">
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <h2 class="section_title">
              注目の新作
            </h2>
          </div>
          <a class="more" href="/novel/list?is_new=true">もっと見る</a>
        </div>
        <div class="book-list">
          <% if( newNovels.length > 0 ) { %>
            <ul>
              <% for (let i = 0; i < 5 ; i ++ ) { %>
            <% for (let novel of newNovels) { %>
              <li>
                <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                  <div class="book-item">
                    <div class="book-cover">
                        <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                        <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                         <button class="bookmark-button" type="submit">読みたい＋</button>
                        </form>
                    </div>
                    <span>
                      <p class="novel_name"><%= novel.title %></p>
                      <p class="author_name"><%= novel.author.author_name %></p>   
                    </span>
                  </div>
                </a>
                <form class="mobile_only bookmark_form" data-novel-id="<%= novel._id %>">
                  <button class="bookmark_button" type="submit">読みたい＋</button>
                 </form>
              </li>
            <% } %>
            <% } %>
            <div class="mobile_only more_mobile_only">
              <a href="/novel/list?is_new=true">もっと見る</a>
            </div>
            </ul>
          <% } else { %>
            <p>注目の新作は現在登録されていません</p>
          <% } %>
        </div>
      </div>
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <h2 class="section_title">
              おすすめの文庫
            </h2>
          </div>
          <a class="more" href="/novel/list?novel_type=文庫">もっと見る</a>
        </div>
        <div class="book-list">
          <% if( bunkoNovels.length > 0 ) { %>
          <ul>
          <% for (let novel of bunkoNovels) { %>
            <li>
              <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                <div class="book-item">
                  <div class="book-cover">
                    <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                    <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                      <button class="bookmark-button" type="submit">読みたい＋</button>
                    </form>
                  </div>
                  <span>
                    <p class="novel_name"><%= novel.title %></p>
                    <p class="author_name"><%= novel.author.author_name %></p>
                  </span>
                </div>
              </a>
            </li>
          <% } %>
          <div class="mobile_only more_mobile_only">
            <a href="/novel/list?novel_type=文庫">もっと見る</a>
          </div>
          </ul>
          <% } else { %>
            <p>おすすめの文庫本は現在登録されていません</p>
          <% } %>
        </div>
      </div>
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <h2 class="section_title">
              おすすめの単行本
            </h2>
          </div>
          <a class="more" href="/novel/list?novel_type=単行本">もっと見る  -></a>
        </div>
        <div class="book-list">
          <% if( tankobonNovels.length > 0 ) { %>
          <ul>
            <% for (let novel of tankobonNovels) { %>
              <li>
                <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                  <div class="book-item">
                    <div class="book-cover">
                      <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                        <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                          <button class="bookmark-button" type="submit">読みたい＋</button>
                        </form>
                      </div>
                      <p class="novel_name"><%= novel.title %></p>
                      <p class="author_name"><%= novel.author.author_name %></p>
                    </div>
                </a>
              </li>
              <div class="mobile_only more_mobile_only">
                <a href="/novel/list?novel_type=単行本">もっと見る</a>
              </div>
            <% } %>
          </ul>
          <% } else { %>
            <p>おすすめの単行本は現在登録されていません</p>
          <% } %>
        </div>
      </div>
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <h2 class="section_title">
              おすすめのライトノベル
            </h2>
          </div>
          <a class="more" href="/novel/list?novel_type=ライトノベル">もっと見る  -></a>
        </div>
        <div class="book-list">
          <% if( lightNovels.length > 0 ) { %>
          <ul>
            <% for (let novel of lightNovels) { %>
              <li>
                <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                  <div class="book-item">
                    <div class="book-cover">
                      <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                      <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                        <button class="bookmark-button" type="submit">読みたい＋</button>
                      </form>
                    </div>
                    <p class="novel_name"><%= novel.title %></p>
                    <p class="author_name"><%= novel.author.author_name %></p>
                  </div>
                </a>
              </li>
            <% } %>
            <div class="mobile_only more_mobile_only">
              <a href="/novel/list?novel_type=ライトノベル">もっと見る</a>
            </div>
          </ul>
          <% } else { %>
            <p>おすすめのライトノベルは現在登録されていません</p>
          <% } %>
        </div>
      </div>
      <div class="section_container">
        <div class="section_top">
          <div class="section_right">
            <span class="yellow"></span>
            <h2 class="section_title">
              ノベルバースおすすめ
            </h2>
          </div>
          <a class="more" href="/novel/list?is_recommend=true">もっと見る  -></a>
        </div>
        <div class="book-list">
          <% if( recommendedNovels.length > 0 ) { %>
          <ul>
            <% for (let novel of recommendedNovels) { %>
                <li>
                  <a class="detail_link" href="/novel/detail/<%= novel._id %>">
                    <div class="book-item">
                      <div class="book-cover">
                          <img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙" />
                          <form class="bookmark-form" data-novel-id="<%= novel._id %>">
                            <button class="bookmark-button" type="submit">読みたい＋</button>
                          </form>
                      </div>
                      <p class="novel_name"><%= novel.title %></p>
                      <p class="author_name"><%= novel.author.author_name %></p>
                    </div>
                  </a>
                </li>
            <% } %>
            <div class="mobile_only more_mobile_only">
              <a href="/novel/list?is_recommend=true">もっと見る</a>
            </div>
          </ul>
          <% } else { %>
            <p>ノベルバースおすすめは現在登録されていません</p>
          <% } %>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- 特定のJavaScript -->
<% scripts = '<script src="/js/home.js"></script>' %> 
<% scripts = '<script src="/js/bookmark-add.js"></script>' %>
