<% layout("layouts/common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/home.css">' %> 

<%= success %>

<!-- コンテンツ -->
<main class="content">
  <section class="section">
    <h2>注目の新作<span><a href="/novel/list?is_new=true">もっと見る -></a></span></h2>
    <div class="book-list">
      <% for (let novel of newNovels) { %>
        <div class="book-item">
          <div class="book-cover">
            <img src="<%= novel.cover %>" alt="<%= novel.title %>の表紙">
            <button class="bookmark-button">読みたい＋</button>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
    </div>

    <h2>おすすめの文庫<span><a href="/novel/list?novel_type=文庫">もっと見る -></a></span></h2>
    <div class="book-list">
      <% for (let novel of bunkoNovels) { %>
        <div class="book-item">
          <div class="book-cover">
            <img src="<%= novel.cover %>" alt="<%= novel.title %>の表紙">
            <button class="bookmark-button">読みたい＋</button>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
    </div>

    <h2>おすすめの単行本<span><a href="/novel/list?novel_type=単行本">もっと見る -></a></span></h2>
    <div class="book-list">
      <% for (let novel of tankobonNovels) { %>
        <div class="book-item">
          <div class="book-cover">
            <img src="<%= novel.cover %>" alt="<%= novel.title %>の表紙">
            <button class="bookmark-button">読みたい＋</button>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
    </div>

    <h2>おすすめのライトノベル<span><a href="/novel/list?novel_type=ライトノベル">もっと見る -></a></span></h2>
    <div class="book-list">
      <% for (let novel of lightNovels) { %>
        <div class="book-item">
          <div class="book-cover">
            <img src="<%= novel.cover %>" alt="<%= novel.title %>の表紙">
            <button class="bookmark-button">読みたい＋</button>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
    </div>

    <h2>ノベルバースおすすめ<span><a href="/novel/list?is_recommend=true">もっと見る -></a></span></h2>
    <div class="book-list">
      <% for (let novel of recommendedNovels) { %>
        <div class="book-item">
          <div class="book-cover">
            <img src="<%= novel.cover %>" alt="<%= novel.title %>の表紙">
            <button class="bookmark-button">読みたい＋</button>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
    </div>
  </section>
</main>

<!-- 特定のJavaScript -->
<% scripts = '<script src="/js/home.js"></script>' %>