<% layout("layouts/common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/home.css" />' %> 

<%= success %>
<%= messages.info %>

<% 
function getCoverUrl(novel) { 
  return novel.cover && novel.cover.length > 0 && novel.cover[0].url ? novel.cover[0].url :'https://dummyimage.com/280x300/000/fff'; 
} 
%>

<!-- コンテンツ -->
<main class="content">
  <section class="section">
    <% if (pageTitle) { %>
    <h2><%= pageTitle %></h2>
    <% } %>
    <% if (novelByGenreList && novelByGenreList.length > 0) { %>
    <div class="book-list">
      <% for (let novel of novelByGenreList) { %>
        <div class="book-item">
          <div class="book-cover">
            <a href="/novel/detail/<%= novel._id %>"><img src="<%= getCoverUrl(novel) %>" alt="<%= novel.title %>の表紙"></a>
            <form action="/user/bookmark" method="post">
              <button class="bookmark-button">読みたい＋</button>
            </form>
          </div>
          <p><%= novel.title %></p>
          <p><%= novel.author.author_name %></p>
        </div>
      <% } %>
      <% } else { %>
        <p>小説が登録されていません</p>
      <% } %>
    </div>
  </section>
</main>


<!-- 特定のJavaScript -->
<% scripts = '<script src="/js/home.js"></script>' %>