<% layout("layouts/common-template") %>
<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/board_reviews.css">' %>
<% 
function getCoverUrl(novel) { 
  return novel.cover && novel.cover.length > 0 && novel.cover[0].url ? novel.cover[0].url :'https://dummyimage.com/280x300/000/fff'; 
} 
%>

<!-- 日付のフォーマット修正 -->
<%
function formatDate(date) {
  const d = new Date(date);
  const year = d.getFullYear();
  const month = String(d.getMonth() + 1).padStart(2, '0');
  const day = String(d.getDate()).padStart(2, '0');
  return `${year}/${month}/${day}`;
}
%>

<main>
  <div class="container">
    <img class="cover_img" src="<%= getCoverUrl(novel) %>" alt="小説画像">
    <div class="info_container">
      <div class="title_header">
        <h1 class="novel_title"><%= novel.title %></h1>
      </div>
      <div class="review_container">
        <form action="/board/review-post" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="review[novelId]" value="<%= novel._id %>">
          <textarea class="summary_text" name="review[content]" id="review-content" cols="80" rows="5"></textarea><br>
          <button type="submit">投稿</button>
        </form>
        <% for (let review of reviews) { %>
        <div class="summary_text">
          <span><%= review.content %></span>
          <p><%= loginUser.username %>　　<%= formatDate(review.postedAt) %></p>
        </div>
        <!-- <textarea id="review-content" cols="80" rows="5" readonly><%= review.content %></textarea><br> -->
        <div class="review-likes-date">
          <!-- <button>いいね</button> -->
          <!-- 自分が投稿したレビューにのみ, 削除ボタンを表示 -->
          <% if (loginUser && review.user && review.user._id.toString() === loginUser._id.toString()) { %>
          <form action="/board/review-delete" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="reviewId" value="<%= review._id %>">
            <input type="hidden" name="novelId" value="<%= novel._id %>">
            <button type="submit">削除</button>
          </form>
          <% } %>
          <!-- <p>10</p>
          <p>2024/8/11</p> -->
        </div>
        <% } %>
      </div>
    </div>
  </div>
</main>

<% scripts = '<script src=""></script>' %> 