<% layout("layouts/common-template") %>
<% head = '<link rel="stylesheet" href="/css/account_settings.css">' %>
<main>
    <div class="container">
        <div class="left_container">
            <h2 class="left_title">ヘルプ</h2>
            <div class="nav_box">
                <ul class="help_list">
                    <li><a href="/admin/app_info">ノベバとは</a></li>
                    <li><a href="#">利用規約</a></li>
                    <li><a href="#">よくある質問</a></li>
                    <li><a href="/board/info">掲示板について</a></li>
                </ul>
            </div>
        </div>
        <div class="right_container">
            <div class="right_title">
                <h2>アカウント設定</h2>
            </div>
            <div class="right_box">
                <div class="photo_setting">
                    <h3 class="section_title">写真</h3>
                    <label class="caption_label">※任意</label>
                    <% if(topImg.length > 0){ %>
                        <div class="imagePreview">
                            <img class="top_img" src="<%= topImg[0].url %>" alt="現在のトプ画">
                        </div>
                            <form action="/user/account/delete-img?_method=PUT" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="imgId" value="<%= topImg[0]._id %>">
                                <button id="top_img_delete_btn" type="submit">現在のトプ画を削除する</button>
                            </form>
                        <form class="img_set_form" action="/user/account/setting-img?_csrf=<%= csrfToken %>&_method=PUT" method="POST" enctype="multipart/form-data">
                    <% } else { %>
                        <div class="imagePreview">
                            <img class="top_img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1722569643/Novelverse/lcmhnb4df8mif9pj190i.jpg" alt="noimg">
                        </div>
                        <form id="img_set_form" class="img_set_form" action="/user/account/setting-img?_csrf=<%= csrfToken %>&_method=PUT" method="POST" enctype="multipart/form-data">
                    <% } %>
                        <span>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="file" id="photoInput" name="image" onchange="handleFileUpload(event)"  accept=".jpg,.jpeg,.png,.gif"  required/>
                        </span>
                        <button class="btn" type="submit">画像選択</button>
                    </form>
                </div> <!-- photo_setting終わり -->
                <div class="account_setting">
                    <h3 class="section_title">ユーザー情報</h3>
                    <form action="/user/account/setting?_method=PUT" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <label class="colums_label">ニックネーム</label><span class="caption_label required_label">※必須</span>
                        <input type="text" name="user[username]" value="<%= loginUser.username %>" required />
                        <br><br>
                        <label class="colums_label">メールアドレス</label><span class="caption_label required_label">※必須</span>
                        <input type="text" name="user[email]"  value="<%= loginUser.email %>" required/>
                        <br><br>
                        <div class="ta_box">
                            <label class="colums_label">自己紹介</label><span class="caption_label">※任意</span>
                            <textarea name="user[self_introdaction]" maxlength="140"><%= loginUser.self_introdaction %></textarea>
                        </div>
                        <br>
                        <label class="colums_label">生年月日</label><span class="caption_label">※任意</span>
                        <% if(loginUser.birthday){%>
                            <input type="date" name="user[birthday]" value="<%= new Date(loginUser.birthday).toISOString().slice(0, 10) %>">
                            <% } else { %>
                            <input type="date" name="user[birthday]">
                        <% } %>
                        <br><br>
                        <label class="colums_label">パスワード</label><span  class="caption_label required_label">※必須</span>
                        <input type="password" class="password" value="********" required readonly /><br>
                        <label class="pass_label"><a href="/user/account/password_change">パスワード変更はこちら</a></label>
                        <br><br>
                        <button class="btn" type="submit">更新</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<% scripts = '<script src="/js/account_setting.js"></script>' %> 